[submodule "1.1-introduction-to-engineering-design/project"]
	path = 1.1-introduction-to-engineering-design/project
	url = https://github.com/ShapeLayer/advanced-sticky-note.git
[submodule "3.1-software-enginnering/project"]
	path = 3.1-software-enginnering/project
	url = https://github.com/ShapeLayer/se-lecture-task__project-structure-definitions.git
[submodule "2.1-logic-circuits-design/project"]
	path = 2.1-logic-circuits-design/project
	url = https://github.com/ShapeLayer/quine-mccluskey-method-calculator.git
[submodule "3.2-embedded-software/projects/1-midterm"]
	path = 3.2-embedded-software/projects/1-midterm
	url = https://github.com/undefined-rainy-storm/embedded-rhythm-game-controller
[submodule "3.2-embedded-software/projects/2-final"]
	path = 3.2-embedded-software/projects/2-final
	url = https://github.com/undefined-rainy-storm/embedded-voice-kkutu
[submodule "3.2-computer-engineering-project1(capstone-design)/project"]
	path = 3.2-computer-engineering-project1(capstone-design)/project
	url = https://github.com/undefined-rainy-storm/capstone-early
[submodule "2.1-iot-computing/projects/final"]
	path = 2.1-iot-computing/projects/final
	url = https://github.com/ShapeLayer/keyboard-for-djmax
[submodule "4.1-distributed-systems/projects/2-final"]
	path = 4.1-distributed-systems/projects/2-final
	url = https://github.com/ShapeLayer/election-result-8values-spark
[submodule "4.2-digital-image-processing/projects/fftj-kt"]
	path = 4.2-digital-image-processing/projects/fftj-kt
	url = https://github.com/ShapeLayer/fftj-kt
[submodule "4.2-digital-image-processing/projects/cubism-sdk-realtime-facial-representation"]
	path = 4.2-digital-image-processing/projects/cubism-sdk-realtime-facial-representation
	url = https://github.com/ShapeLayer/cubism-sdk-realtime-facial-representation
[submodule "4.2-digital-image-processing/projects/lite2d"]
	path = 4.2-digital-image-processing/projects/lite2d
	url = https://github.com/ShapeLayer/lite2d
[submodule "4.2-digital-image-processing/projects/spotdiff-py"]
	path = 4.2-digital-image-processing/projects/spotdiff-py
	url = https://github.com/ShapeLayer/spotdiff-py
[submodule "3.2-network-systems/projects/simple-irc"]
	path = 3.2-network-systems/projects/simple-irc
	url = https://github.com/ShapeLayer/simple-irc
[submodule "2.2-introduction-to-programming-2/projects/n.koldline"]
	path = 2.2-introduction-to-programming-2/projects/n.koldline
	url = https://github.com/ShapeLayer/n.koldline
