*:root {
  --var-border-radius: 3em;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
}

box {
  margin: 1em;
  padding: 1em;
  display: block;
  border-top-left-radius: var(--var-border-radius);
  border-bottom-right-radius: var(--var-border-radius);
  border-style: groove;
  border-color: yellow;
  border-width: 20px;
  background-color: indianred;
}

box p {
  display: inline;
  margin: 0;
  background-color: aquamarine;
}
